html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    background-color: darkgray;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.calc-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: gray;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

.operator {
    background-color: rgba(231, 120, 120, 0.87);
}

button {
    height: 45px;
    background-color: rgb(40, 167, 167);
    color: white;
    box-shadow: darkgray;
    font-weight: bold;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    padding: 20px;
}

.clrbutton {
    background-color: rgb(231, 120, 120);
}

#equalbutton {
    grid-row-start: 5;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(124, 209, 167);
    font-size: 2rem;
}
